.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #5c6bc0, #512da8);

  mat-card {
    width: 360px;
    padding: 1.5rem;
  }
}

.full-width {
  width: 100%;
}

button mat-icon {
  margin-right: 0.5rem;
}
